- @page = 'contacts'

script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"

.wrapper
  #page-name контакты
  #map-canvas width="100%" height="500px"

javascript:
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-34.397, 150.644),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
  }
  initialize();