body#done
  #slider
    width: 100%
    position: relative
    margin: 0 auto
    .arrow-left
      height: 56px
      width: 19px
      position: absolute
      margin: auto
      top: 0
      bottom: 0
      z-index: 1
      cursor: pointer
      background:
        image: url('arrow_left_white.png')
        repeat: no-repeat
    .arrow-right
      cursor: pointer
      z-index: 1
      right: 0
      height: 56px
      width: 19px
      position: absolute
      margin: auto
      top: 0
      bottom: 0
      background:
        image: url('arrow_right_white.png')
        repeat: no-repeat